.admintitle
{
	background-color:#000000;
	color:#FFFFFF;
	margin-left:50px;
	margin-right:50px;
	height:70px;
	line-height:70px;
	
}
.jai
{
	background-color:#33CC00;
	color:#0000FF;
	margin-left:50px;
	margin-right:50px;
	height:130px;
	line-height:130px;

}
.admin
{
color:#FFFF00;
}